body {
  font-family: monospace;
  line-height: 1.5;
  background: black;
  align-items: center;
  text-align: center;
  font-style: normal;
  margin: auto;
  
}


h3 {
  font-size: 12pt;
  top: 48%;
  left: 50%;
  margin-left: -135px;
  position: fixed;
  z-index: 5000;
  color: white;
  line-height: 2em;
  text-align: center;
  -webkit-animation: glow 0.1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 4s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 100px #ffffff, 0 0 100px #ffffff, 0 0 200px #ffffff,
      0 0 40px #ffffff;
  }
}

#svar2 {
  height: 400px;
  width: 450px;
  left: 50%;
  margin-left: -210px;
  top: 39vh;
  position: fixed;
  z-index: 200;
}

#submit2 {
  height: 30px;
  width: 100px;
  border: 0px;
  border-radius: 10px;
  background: #1ac165;
  font-size: 15pt;
  margin-top: 10px;
  font: monospace;
}

#submit2:disabled {
  height: 30px;
  width: 100px;
  border: 0px;
  border-radius: 10px;
  background: #969696;
  font-size: 15pt;
  margin-top: 10px;
  font: monospace;
}

#answer2 {
  height: 30px;
  width: 300px;
  background: #f4f4f4;
  margin: auto;
  margin-top: 250px;
  font-size: 12px;
}

/* 1000% zoom, what do you call this place?.............*/

#bild {
  height: 5000vh;
  width: 5000vw;
  left: 50%;
  margin-left: -800vw;
  top: 50%;
  margin-top: -800vh;
  position: fixed;
  background-image: url("https://cdn.glitch.global/0582e7fe-4524-46d9-b299-1ca8ac9623c8/The_Blue_Marble_(remastered).jpg?v=1676128340320");
  zoom: 1300%;
}
