/* a minimalist set of CSS resets */

/* default to border-box */
html {
  box-sizing: border-box;
  font-size: 16px;
}



/* adjust typography defaults */
body {
  background: black;
  margin: 0;
  margin-top: 70px;
  font-family: sans-serif;
  line-height: 1.5;
  color: black;
  align-items: center;
  display: flex;
  flex-direction: column;
}

#parentClass{
  align-items: center;
  display: flex;
  flex-direction: column;  
}

#firstChild{
  align-items: center;
  display: flex;
  flex-direction: column;  
}

#secondchild{
  align-items: center;
  display: flex;
  flex-direction: column;  
}


#submit {
  width: 100px;
  margin: 0;
  align-items: center;
  display: flex;
  flex-direction: column;
  
}

#answer {
  width: 100px;
  margin: 0;
  align-items: center;
  display: flex;
  flex-direction: column;
}

button {
    width: 200px;
  font-size: 20px;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: red;
  
}

#under{
  height: 100px;
  width: 150px; 
  background: white;
}