body {
  font-family: monospace;
  line-height: 1.5;
  background: black;
  align-items: center;
  text-align: center;
  font-style: normal;
  margin: auto;
  }


h4 {
  font-size: 12pt;
  margin-top: 10px;
  color: orange;
  line-height: 2em;
  text-align: center;
  -webkit-animation: glow 0.1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 4s ease-in-out infinite alternate;
}


h3 {
  font-size: 12pt;
  margin-top: 400px;
  color: red;
  line-height: 2em;
  text-align: center;
  -webkit-animation: glow 0.1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 4s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 100px red, 0 0 100px red, 0 0 200px red,
      0 0 40px red;
  }
}
  
  h2 {
 font-size: 40pt;
  margin: auto;
  margin-top: 300px;
  color: yellow;
  line-height: 2em;
  text-align: center;
  -webkit-animation: glow 0.1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 4s ease-in-out infinite alternate;
  }


#svar2 {
  height: 400px;
  width: 450px;
  left: 50%;
  margin-left: -210px;
  top: 32vh;
  position: fixed;
  z-index: 200;
}

#submit2 {
  height: 30px;
  width: 100px;
  border: 0px;
  border-radius: 10px;
  background: #1ac165;
  font-size: 15pt;
  margin-top: 10px;
  font: monospace;
}

#submit2:disabled {
  height: 30px;
  width: 100px;
  border: 0px;
  border-radius: 10px;
  background: #969696;
  font-size: 15pt;
  margin-top: 10px;
  font: monospace;
}

#answer2 {
  height: 30px;
  width: 300px;
  background: #f4f4f4;
  margin: auto;
  margin-top: 250px;
  font-size: 12px;
}