/* a minimalist set of CSS resets */

/* default to border-box */
html {
  box-sizing: border-box;
  font-size: 16px;
}



/* adjust typography defaults */
body {
  background: black;
  margin: 0;
  margin-top: 20px;
  font-family: sans-serif;
  line-height: 1.5;
  color: black;
  align-items: center;
  display: flex;
  flex-direction: column;
}

#submit {
  width: 100px;
  margin: 0;
  align-items: center;
  display: flex;
  flex-direction: column;
  
}

#answer {
  width: 100px;
  margin: 0;
  align-items: center;
  display: flex;
  flex-direction: column;
}

/* images and videos max out at full width */
video {
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  width: 800px;
  height: 800px;
}
https://cdn.glitch.me/37d86f08-bf85-4ecd-b59c-03416ef0a87b/intro.mp4?v=1675955697346